.cart_block {
  padding: 50px 0;
  min-height: 600px;

  @include phone {
    min-height: 350px;
  }

  .table {
    th {
      font-weight: 600;
      white-space: nowrap;
    }

    td {
      white-space: nowrap;
    }

    td:last-child,
    th:last-child,
    td:nth-last-child(2),
    th:nth-last-child(2),
    td:nth-last-child(3),
    th:nth-last-child(3) {
      text-align: center;

      a {
        font-size: 20px;
      }
    }
  }

  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin: 0 15px;
      font-size: 16px;
      font-weight: 600;
    }

    a {
      font-size: 14px !important;
      background: color(theme);
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 50px;
      color: color(White);
    }
  }
}

.cart_totals {
  padding: 10px 20px;

  @include laptop {
    padding: 30px 0;
  }

  .sub_total {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-size: 16px;
      font-weight: 600;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
    }
  }

  p {
    margin: 5px 0 20px;
    font-weight: 400;
    opacity: 0.6;
  }

  .btns_block {
    .btn {
      display: block;
      width: 100%;
      margin: 10px 0;
    }
  }
}

.checkout_form {
  padding: 50px 0;

  .form-group {
    margin-bottom: 20px;
  }

  .cart_totals h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .sub_total {
    margin-bottom: 10px;

    h4 {
      font-size: 14px;
      font-weight: 500;
    }

    h3 {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.success-page {
  padding: 50px 0;
  text-align: center;
  min-height: 600px;

  @include phone {
    min-height: 350px;
  }

  .cart_block {
    min-height: auto;
    padding-bottom: 0;
  }

  p {
    font-size: 16px;
    margin-top: 5px;

    @include phone {
      font-size: 14px;
    }
  }
}
