.loader {
  text-align: center;
  padding: 20px 0;
}

.products_block {
  padding: 30px 0;

  @include tablet {
    padding: 0 0 30px;
  }

  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.products_listing {
  p.emptyData {
    text-align: center;
    padding: 0 0 30px;
    width: 100%;
  }
}

.product_item {
  margin: 20px 10px 50px;
  position: relative;
  transition: 0.3s all ease-in-out;

  @include tablet {
    margin: 20px;
    text-align: center;
  }

  &:hover {
    transform: scale(1.05);
  }

  .img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;

    @include tablet {
      margin: 0 auto 20px;
    }

    @include phone {
      width: 200px;
      height: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;

    a {
      color: color(text);
    }
  }

  .icons_block {
    position: absolute;
    right: 0;
    bottom: -5px;
    display: flex;
    align-items: center;

    @include tablet {
      position: unset;
      justify-content: center;
    }

    a {
      font-size: 24px;
      display: block;
      margin-left: 5px;

      @include tablet {
        margin: 10px 5px;
      }
    }
  }
}

.bg_sale_offer {
  background: #003535;
  margin-bottom: 30px;
  padding: 30px 0;
  color: color(White);

  .sale_offer {
    @include flex(space-between, nowrap);
  }

  .img {
    width: 350px;

    @include phone {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  h4 {
    margin-bottom: 20px;
  }

  .timer {
    display: flex;
    align-items: center;
    margin: 0 -20px;

    p {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      :first-child {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }

  .btn {
    margin-top: 20px;
    background: color(White) !important;
    color: #003535;
  }
}

.product_view {
  padding: 50px 0;
  align-items: center;

  .img {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .info {
    h3 {
      font-size: 26px;
      font-weight: 600;

      @include phone {
        font-size: 22px;
      }
    }

    .price {
      display: flex;
      align-items: center;

      h4 {
        font-size: 24px;
        font-weight: 700;
        margin-right: 20px;
      }

      p {
        font-size: 16px;
        opacity: 0.6;
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    span {
      display: block;
      margin: 10px 0;
      font-size: 14px;
      font-weight: 500;
      opacity: 0.8;
    }
  }
}

.rating {
  margin: 20px 0;
  display: flex;
  align-items: center;

  @include phone {
    margin: 10px 0;
  }

  .rate {
    display: flex;
    margin: 0 10px 0 -2px;

    span {
      margin: 0 1px;
      color: orange;
    }
  }

  p {
    font-weight: 500;
    opacity: 0.9;
  }
}

.tab_block {
  padding: 30px 0;

  @include phone {
    padding: 0;
  }

  .nav-tabs a.nav-link {
    font-size: 14px;
    font-weight: 600;
  }

  .nav-tabs a.nav-link.active {
    color: color(theme);
    border-color: color(theme);
  }
}

.review_item {
  margin: 10px 0 20px 50px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;

  @include phone {
    margin: 10px 0 20px 0px;
  }

  &:last-child {
    border: 0;
  }

  h5 {
    font-size: 16px;
    font-weight: 600;
  }

  h4 {
    color: orange;
    font-size: 15px;
    margin: 5px 0;
    font-weight: 600;
  }

  p {
    opacity: 0.7;
  }
}

.write_review_block {
  max-width: 800px;
  margin: 0 auto;

  h3 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .form-control {
    margin: 20px 0;
    resize: none;
    height: auto;
  }
}

.similar_products {
  padding: 50px 0 20px;

  h5 {
    font-size: 22px;
    font-weight: 600;
  }
}

/*Add Product Styling*/
.post_hd {
  margin: 30px 0;
  text-align: center;

  h1 {
    font-size: 24px;
    font-weight: 900;
    color: color(text);
    line-height: 30px;
    text-transform: uppercase;
    max-width: 450px;
    margin: 0 auto 5px;

    @include phone {
      font-size: 20px;
      line-height: normal;
      margin: 0 auto 0px;
    }
  }

  p {
    font-size: 15px;
    line-height: 22px;
    opacity: 0.7;

    @include phone {
      font-size: 14px;
    }
  }
}

.product_form_block {
  max-width: 800px;
  margin: 0 auto 50px;
  padding: 20px;
  box-shadow: 0 0 10px #e5e5e5;
  border-radius: 5px;

  @include phone {
    margin: 0 auto 30px;
  }

  .form-group {
    margin-bottom: 20px;
  }
}

.file_select {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dashed #d6d6d6;
  min-height: 250px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;

  svg {
    width: 30px;
    height: 30px;
    color: color(theme);
  }

  input {
    display: none;
  }
}

.file_block {
  position: relative;
}

.deleteBtn {
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  min-width: 35px !important;
  border-radius: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.imgPreview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  padding: 20px;
  z-index: 1;
  background: color(White);
  border: 3px dashed #d6d6d6;
  border-radius: 5px;

  img {
    width: 100% !important;
    height: 100%;
    object-fit: contain;
    margin: 0 !important;
  }
}

.submit_form {
  text-align: right;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}
